/* #Layout
================================================== */
body {
  background-color: #d0162c;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
.container {
  position: fixed;
  top: 50%; 
  margin-top: -100px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}
.content {
  float: left;
  width: 250px;
  margin-left: 30px;
}
p {
  margin-bottom: 11px;
}


/* #Brick
================================================== */
.brick {
  float: left;
  background-color: #fff;
  width: 320px;
  height: 140px;
  position: relative;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.brick:before,
.brick:after {
  content: '';
  width: 122px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: 25px;
  background-color: #d0162c;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}
.brick:after {
  left: auto;
  right: 25px;
}


/* #Content
================================================== */
.title {
  font-weight: normal;
  margin-top: -8px;
  color: #fff;
  font-family: "cubano", sans-serif;
  font-size: 40px;
}
.download-button {
  position: relative;
  padding: 20px 60px;
  text-decoration: none;
  color: #d0162c;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  font-family: "cubano", sans-serif;
  letter-spacing: 5px;   
}
.download-button:hover {
  color: #000;
}
.download-button:active {
  top: 1px;
}


/* #Footer
================================================== */
.footer {
  z-index: 2;
}
.footer,
.twitter-links {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  font-family: "cubano", sans-serif;
  font-size: 14px;
  color: #fff;
}
.twitter-links {
  left: 50px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  color: #000;
}


/* #Media Queries
================================================== */
@media only screen and (max-width: 660px) {
  .container {
    width: 300px;
    position: relative;
    margin: 40px auto 20px;
    top: auto;
    left: auto;
    overflow: hidden;
    text-align: center;
  }
  .brick {
    margin-bottom: 20px;
    width: 300px;
  }
  .brick:before,
  .brick:after {
    width: 112px;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
  .footer,
  .twitter-links {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;
  }
  .footer {
    margin-bottom: 10px;
  }
} 

@media only screen and (max-width: 320px) {

}

/* #Aniamtions
================================================== */
/* Fade in down via Dan Eden (https://github.com/daneden/animate.css) */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Standard fade in */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.container {
  -webkit-animation: fadeInDown 1s;
     -moz-animation: fadeInDown 1s;
      -ms-animation: fadeInDown 1s;
       -o-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
}
.footer, 
.twitter-links {
  -webkit-animation: fadeIn 1.5s;
     -moz-animation: fadeIn 1.5s;
      -ms-animation: fadeIn 1.5s;
       -o-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}